<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Disable Sentry auto-init so the SDK controls initialization via SentryProvider -->
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />
    </application>

</manifest>
