name: Run Checks

# When this action should run
on:
  # Run on pushes to the 'main' branch
  push:
    branches: [ "main" ]

  # Run on ALL pull requests
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # This tells the action to get all history and tags

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle' # Caches Gradle dependencies for faster builds

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Run checks
        run: ./gradlew clean spotlessCheck detekt testDebug
        env:
          CRYPTO_SDK_NEWS_API_KEY: ${{ secrets.CRYPTO_SDK_NEWS_API_KEY }}